---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Half a HW/FW engineer, half a software engineer.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master of Science in Mechatronics Engineering"
      subtitle="[2003] to [2016] at [Shanghai Jiao Tong University], [Shanghai], [China]"
    />
    <TimeLineElement
      title="Bachelor of Science in Mechanical Engineering"
      subtitle="[2009] to [2013] at [Xi'an Jiao Tong University], [Xi'an], [China]"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Senior FW Engineer at Solidigm"
      subtitle="From [2022] to [2024] at [Solidigm], [Shanghai], [China]"
    >
      Solidigm is now part of SK Hynix. Originally NPSG of Intel. Still a tester developer, but more focus on the FW side.
    </TimeLineElement>
    <TimeLineElement
      title="FW Engineer at Intel"
      subtitle="From [2016] to [2022] at [Intel], [Shanghai], [China]"
    >
      Developed and maintained tester firmware/hardware for Intel's products.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank">NA</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>C</li>
    <li>FPGA</li>
    <li>PCIe</li>
    <li>Board Design</li>
    <li>Python</li>
    <li>System FA</li>
  </ul>
</BaseLayout>
